*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

# ocamlbuild working directory
_build/
_esy/

# ocamlbuild targets
*.byte
*.native

# Merlin configuring file for Vim and Emacs
.merlin

lib/
_build
_build/
node_modules/
**/*.bs.js
